.head{
   color: white; 
   text-align: center;
}
/* form{
   
        border: 2px solid white;
        border-radius: 12px;
        padding: 5px;

} */
/* ==menu== */
* {
    box-sizing: border-box;
  }
  
  .flex-container {
    display: flex;
    flex-direction: row;
    font-size:medium;
    text-align: center;
    background-color: #f1f1f1;
   
    
  }
  
  .flex-item-left {
    
    padding: 5px;
    flex: 10%;
    color: black;
    float: left;
    
  }
  .flex-item-center1 { 
    padding: 5px;
    flex: 10%;
    float: left;
  }

  .flex-item-center2 {
    
  
    padding: 5px;
    flex: 10%;
    float: left;
    border-right: solid 1 px gray;
  }

  
  .flex-item-right {
    padding: 5px;
    flex: 70%;
    float: right; 
  }

  .content i{
    animation-name: example;
    color: red ;
    animation-duration: 5s;
  }
  @keyframes example {
    from {color: red;}
    to {color: yellow;}
  }
  /* Responsive layout - makes a one column-layout instead of two-column layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }

  /* ==hết menu== */
.menu ul{
  
    background-color: rgb(245, 243, 241);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    color: azure;
}
.menu ul div{
    display: inline-block;
    padding: 14px 24px;
    bottom: 0px;
    text-decoration: none;

}
.menu ul .li a:hover,.dropdown:hover ,.dropbtn {
    color: black;
}


#dropdown-content a, .dropbtn{
    display: inline-block;
    color: black;
    text-decoration: none;
    
}
#dropdown-content{
    display: none;
    position: absolute;
    background-color: aliceblue;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
#dropdown-content a {
  
    padding: 12px 16px;
    display: block;
    text-align: left;
}
#dropdown-content a:hover { background-color: #f1f1f1;}
.dropdown:hover #dropdown-content{ display: block;}
#w3-card-4{
    width: 100%;
}
a{
    text-decoration: none;
}
.content .h1p{
    color: white;
    text-align: center;
    
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.w3-quater{
    border: rgb(185, 184, 184);
    background-color: white;
}
.qq{
    display: inline;
}
/* ====phân trang===== */
.center {
    text-align: center;
  }
  
  .pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
   
  }
    
  .pagination a.active {
    background-color: rgb(175, 171, 171);
    color: white;
    border: 1px solid rgb(175, 171, 171);
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}

  footer{
    margin-top: 20px;
    border-top:  2px solid gray;

  }
  

